---
import Header from '../components/Header.astro';
import Piso8vid from '../components/Piso8vid.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
    	<title>Virtour-U</title>
		<Header />
	</head>
	<body>
		<h5>Bienvenido a Virtour-U</h1>
		<map class="pisos">
			<Piso8vid client:load/>
			<div class="espacio-recorrido">
				<ol class="recorridos">
					<a href="/">Recorridos</a>
					<a href="/">Piso 8</a>
					<a href="/Piso9">Piso 9</a>
				</ol>
			</div>
		</map>
		<footer>
			<h2>Nosotros</h2>
		</footer>
	</body>
</html>